# Personal Tower data
battle-reports/*
!battle-reports/.keep
player-info/*
!player-info/.keep
battle-report-converter/input/*
!battle-report-converter/input/.keep
battle-report-converter/output/*
!battle-report-converter/output/.keep

# Web build
node_modules/
dist/

.env

notes.md

.DS_Store
